.SearchPage {
    background-image: url("../../assets/coffee-beans.jpg");
    background-position: top;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.city-search {
    display: flex;
    width: 50vw;
    justify-content: center;
}

.city-search > input, .city-search > button {
    font-family: 'Open Sans', sans-serif;
    margin: 2px;
}

.city-search > input {
    height: 1.7rem;
    font-size: 1rem;
    border: 1px solid #303439;
    border-radius: 15px;
}

.stlt-btn {
    font-family: sans-serif;
    font-weight: 100;
    text-decoration: none;
    border-radius: 5%;
    border: solid 1px;
    font-size: large;
    cursor: pointer;
    padding: 1px 6px;
    margin: 2px;
    width: fit-content;
}

.stlt-btn:hover, .stlt-btn:focus {
    font-weight: 400;
}
  
.stlt-std-btn {
    background-color: whitesmoke;
    border-color: black;
    color: black;
}

.stlt-std-btn:hover, .stlt-std-btn:focus {
    background-color: #9d9d9d;
    color: whitesmoke;
}