.SearchResults {
    background-color: rgba(145, 145, 145, 0.4);
    padding: 15px 5px 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
}

.results-key {
    padding: 30px 0;
}

.results-key > hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

@media only screen and (min-width: 768px) {
    .SearchResults {
        justify-content: space-evenly;
        padding-top: 0;
        width: auto;
    }
}