.SignupFormComp {
    margin-top: 15px;
    width: 80vw;
    border: 8px ridge burlywood;
    padding: 10px;
    background-color: #303439;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-form {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-wrapper {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.signup-label {
    font-family: 'Handlee', sans-serif;
    font-size: 22px;
}

.signup-input {
    font-family: 'Handlee', sans-serif;
    font-size: large;
    margin: 5px;
    background-color: #303439;
    color: whitesmoke;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid rgba(245, 245, 245, 0.8);
}

.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 15px 0;
}

@media only screen and (min-width: 768px) {
    .SignupFormComp { width: 440px; }
}

@media only screen and (max-width: 280px) {
    .input-wrapper { 
        flex-direction: column;
        padding-bottom: 10px;
    }
}