body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
}

.underline:after {
  content: '';
  width: 0; 
  height: 1px;
  display: block;
  right: 0;
  background: rgb(145, 145, 145);
  -webkit-transition: width .3s ease, content .3s ease-in;
  -moz-transition: width .3s ease, content .3s ease-in;
  -o-transition: width .3s ease, content .3s ease-in;
  transition: width .3s ease, content .3s ease-in;
}

.underline:hover:after {
  text-align: end;
  width: 100%;
  left: 0;
  background: rgb(187, 187, 187);
}

h1 {
  font-family: 'Fredericka the Great', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.btn {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  border-radius: 10%;
  font-size: large;
}

.pos-btn {
  background-color: rgba(245, 245, 245, 0.9);
  border: 1px solid black;
}

.neg-btn {
  padding: 1px 5px;
  background-color: rgba(189, 37, 32, .74);
  color: inherit;
}

.neg-btn:hover {
  color: rgba(189, 37, 32, .74);
  background-color: whitesmoke;
  font-weight: 900;
}